# Activity 5

In [2]:

#if statements
x=1
if 7==0:
    x=x+1
x

1

In [3]:
x=1/1
if type(x)==int:
    x=x+1
x

1.0

In [4]:
y = "hello world"
if 'h' in y:
    y = "goodbye" + y[-6:]
y

'goodbye world'

In [5]:
y = "hello world"
if 'a' in y:
    y = ""
y

'hello world'

In [8]:
def func(x):
    if x > 0:
        print("Positive")
    if x > 10**5:
        print("Large positive")
ans = func(10**6)
type(ans)

Positive
Large positive

NoneType

In [11]:
def func2(x):
    if x > 0:
        return "Positive"
    if x > 10**5:
        return "Large positive"
ans = func2(10**6)
type(ans)

'Positive'

In [13]:
def min_of_2(x: float, y: float) -> float: 
    min_of_2 = x
    if x<y:
        return x
    if x>y:
        return y
min_of_2(min_of_2(4,5),6)

4

In [14]:
def min_of_2(x: float, y: float) -> float: 
    if x<y:
        return x
    else:
        return y
min_of_2(min_of_2(4,5),6)

4

In [15]:
#Write a function that returns the longest of two strings.
def longer_string(string1:str, string2:str) -> str:
    if len(string1)>=len(string2): 
        return string1
    else:
        return string2
longer_string("fancy", "pants")

'fancy'

In [17]:
#ELSE-iF
credit='good'
if credit == "poor":
    print("no credit for you")
elif credit == "good":
    print("maybe credit for you") 
elif credit == "excellent":
    print("let me give you credit") 
else:
    print("obtain credit score")

maybe credit for you

In [19]:
def max_of_3(x: float, y: float, z: float) -> float: 
    if x>y and x > z:
        return x 
    elif y>x and y > z:
        return y
    else:
        return z
max_of_3(3.5,4.5,1.5)

4.5

In [22]:
#nested IF
x = float('inf')
if x > 0:
    print("x is positive")
    if x > 1:
        print("x is not small") 
        if x > 10**10:
            print("x is pretty big")

x is positive
x is not small
x is pretty big

In [27]:
x=5
y=6
z=8
if x>1 and y>2 and z>3: 
    print("hello")

hello

In [28]:
#Simplifying If-Statements
def func1(x):
    return x>0
func1(100)

True

In [30]:
x=10
y=x>0
y

True

In [31]:
#What is the value of z after executing the following?
(x, y, z) = (1, 2, 3)
if x < y:
    if y > 4:
        z=5
    else:
        z=6
z

6

In [32]:
#What is the value of total after this code runs?
(total, first, second) = (0, 4, 0) 
if first > 5:
    if first == 4: 
        first = 6
        total = total + 1
    else:
        total = total + 2 
else:
    if first > 5:
        total = total + 1
total

0

In [33]:
#Write a Python function that compares between two strings and return the longest one.
def long_string(st1: str, st2: str) -> str: 
    if len(st1) >= len(st2): 
        return st1
    else:
        return st2
long_string("bbb", "aaaa")

'aaaa'

Write a Python function to compute T from:
𝑤2
𝑇ሺ𝑤ሻ ൌ ቐ10𝑤
𝑤
𝑖𝑓 2 ൏𝑤൏ 5
𝑖𝑓 𝑤 ൒ 5
𝑒𝑙𝑠�

In [37]:
def ComputeT(w): 
    if w>2 and w < 5: 
        t = w**2
    elif w >= 5:
        t = 10*w 
    else:
        t=w
    return t
ComputeT(9)

90

# Activity 6

In [39]:
#for loops
for i in "abcde":
    print(i)
i

a
b
c
d
e

'e'

In [40]:
st=''
for i in "abcde":
    st = st + i 
    print(st)

a
ab
abc
abcd
abcde

In [41]:
#usage of range function
for x in range(5):
    print(x)

0
1
2
3
4

In [42]:
for x in range(3, 6): 
    print(x)

3
4
5

In [44]:
for x in range(3,8,2):
    print(x)

3
5
7

In [48]:
for i in range(-5):
    print('Hello, world!')
#range function do nothing for -ve values for start and end.

In [49]:
result = 0
n=5
for i in range(1, n + 1):
    result += i 
    print(result)

1
3
6
10
15

In [50]:
for i in range(10, 0, -2): 
    print(i)
# -ve values can be used in step arugment

10
8
6
4
2

In [52]:
#Nested for loops
digits = "123"
alphas = "ab"
for d in digits:
    for a in alphas:
        print(d + a)

1a
1b
2a
2b
3a
3b

In [54]:
#some string built-in methods
"Ryerson university".capitalize()

'Ryerson university'

In [55]:
"ryerson university".count("e")

2

In [56]:
"ryerson university".find("e")

2

In [57]:
"123".isdigit()

True

In [58]:

"123.456".isdigit()

False

In [59]:
"1234.56".find(".")

4

In [60]:
"123.456E7".find("E")

7

Thank you!!
Yogesh kumar - C0852435